.cell-black{
    width: 20px;
    height: 20px; 
    border: solid;
    margin: 1px;
    background-color: black;
}

.cell-white{
    width: 20px;
    height: 20px; 
    border: solid;
    margin: 1px;
    background-color: white;
}

.cell-black:hover{
    background-color: gray;
}

.cell-white:hover{
    background-color: gray;
}